{
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "ecmaFeatures": {
        "modules": true
    },
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "rules": {
        "semi":"warn",
        "semi-spacing":"warn",
        "arrow-spacing":"warn",
        "capitalized-comments":"warn"
    }
}